NumberRecognizer/NumberRecognizer.App/Service References/NumberRecognizerService/NumberRecognizerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NumberRecognizerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://0d832919582344d9b6d490f5aca905d8.cloudapp.net/NumberRecognizerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://0d832919582344d9b6d490f5aca905d8.cloudapp.net/NumberRecognizerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://0d832919582344d9b6d490f5aca905d8.cloudapp.net/NumberRecognizerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" />
      <xsd:import schemaLocation="http://0d832919582344d9b6d490f5aca905d8.cloudapp.net/NumberRecognizerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INumberRecognizerService_GetNetworks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNetworks" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_GetNetworks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNetworksResponse" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_CreateNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNetwork" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_CreateNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_CreateNetworkWithTrainingDataCopy_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNetworkWithTrainingDataCopy" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_CreateNetworkWithTrainingDataCopy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNetworkWithTrainingDataCopyResponse" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_DeleteNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNetwork" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_DeleteNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_RecognizePhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:RecognizePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="INumberRecognizerService_RecognizePhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecognizePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="INumberRecognizerService">
    <wsdl:operation name="GetNetworks">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberRecognizerService/GetNetworks" message="tns:INumberRecognizerService_GetNetworks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberRecognizerService/GetNetworksResponse" message="tns:INumberRecognizerService_GetNetworks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNetwork">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberRecognizerService/CreateNetwork" message="tns:INumberRecognizerService_CreateNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberRecognizerService/CreateNetworkResponse" message="tns:INumberRecognizerService_CreateNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNetworkWithTrainingDataCopy">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberRecognizerService/CreateNetworkWithTrainingDataCopy" message="tns:INumberRecognizerService_CreateNetworkWithTrainingDataCopy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberRecognizerService/CreateNetworkWithTrainingDataCopyResponse" message="tns:INumberRecognizerService_CreateNetworkWithTrainingDataCopy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNetwork">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberRecognizerService/DeleteNetwork" message="tns:INumberRecognizerService_DeleteNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberRecognizerService/DeleteNetworkResponse" message="tns:INumberRecognizerService_DeleteNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecognizePhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberRecognizerService/RecognizePhoneNumber" message="tns:INumberRecognizerService_RecognizePhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberRecognizerService/RecognizePhoneNumberResponse" message="tns:INumberRecognizerService_RecognizePhoneNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INumberRecognizerService" type="tns:INumberRecognizerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNetworks">
      <soap:operation soapAction="http://tempuri.org/INumberRecognizerService/GetNetworks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNetwork">
      <soap:operation soapAction="http://tempuri.org/INumberRecognizerService/CreateNetwork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNetworkWithTrainingDataCopy">
      <soap:operation soapAction="http://tempuri.org/INumberRecognizerService/CreateNetworkWithTrainingDataCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNetwork">
      <soap:operation soapAction="http://tempuri.org/INumberRecognizerService/DeleteNetwork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecognizePhoneNumber">
      <soap:operation soapAction="http://tempuri.org/INumberRecognizerService/RecognizePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NumberRecognizerService">
    <wsdl:port name="BasicHttpBinding_INumberRecognizerService" binding="tns:BasicHttpBinding_INumberRecognizerService">
      <soap:address location="http://0d832919582344d9b6d490f5aca905d8.cloudapp.net/NumberRecognizerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>