NumberRecognizer/NumberRecognizer.App/Service References/NumberRecognizerService/NumberRecognizerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://0d832919582344d9b6d490f5aca905d8.cloudapp.net/NumberRecognizerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://0d832919582344d9b6d490f5aca905d8.cloudapp.net/NumberRecognizerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfNetworkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NetworkInfo" nillable="true" type="tns:NetworkInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetworkInfo" nillable="true" type="tns:ArrayOfNetworkInfo" />
  <xs:complexType name="NetworkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calculated" type="xs:boolean" />
      <xs:element minOccurs="0" name="CalculationEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CalculationStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinalPoolFitnessLog" nillable="true" type="tns:FitnessLog" />
      <xs:element minOccurs="0" name="MultipleGenPool" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MultiplePoolFitnessLog" nillable="true" type="q1:ArrayOfKeyValueOfstringFitnessLoge_SR2wgmj" />
      <xs:element minOccurs="0" name="NetworkFitness" type="xs:double" />
      <xs:element minOccurs="0" name="NetworkId" type="xs:int" />
      <xs:element minOccurs="0" name="NetworkName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:NetworkStatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkInfo" nillable="true" type="tns:NetworkInfo" />
  <xs:complexType name="FitnessLog">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FinalPatternFittness" nillable="true" type="q2:ArrayOfKeyValueOfstringdouble" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FitnessTrend" nillable="true" type="q3:ArrayOfdouble" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PatternTrends" nillable="true" type="q4:ArrayOfKeyValueOfstringArrayOfdoublety7Ep6D1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FitnessLog" nillable="true" type="tns:FitnessLog" />
  <xs:simpleType name="NetworkStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotStarted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Running">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ready">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NetworkStatusType" nillable="true" type="tns:NetworkStatusType" />
  <xs:complexType name="ArrayOfTrainingImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingImage" nillable="true" type="tns:TrainingImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingImage" nillable="true" type="tns:ArrayOfTrainingImage" />
  <xs:complexType name="TrainingImage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RecognitionImage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Pattern" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingImage" nillable="true" type="tns:TrainingImage" />
  <xs:complexType name="RecognitionImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ImageData" nillable="true" type="q5:ArrayOfdouble" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecognitionImage" nillable="true" type="tns:RecognitionImage" />
  <xs:complexType name="ArrayOfRecognitionImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecognitionImage" nillable="true" type="tns:RecognitionImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecognitionImage" nillable="true" type="tns:ArrayOfRecognitionImage" />
  <xs:complexType name="NumberRecognitionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfNumberRecognitionResultItem" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumberRecognitionResult" nillable="true" type="tns:NumberRecognitionResult" />
  <xs:complexType name="ArrayOfNumberRecognitionResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NumberRecognitionResultItem" nillable="true" type="tns:NumberRecognitionResultItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNumberRecognitionResultItem" nillable="true" type="tns:ArrayOfNumberRecognitionResultItem" />
  <xs:complexType name="NumberRecognitionResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumericCharacter" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Probabilities" nillable="true" type="q6:ArrayOfKeyValueOfchardouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumberRecognitionResultItem" nillable="true" type="tns:NumberRecognitionResultItem" />
</xs:schema>