NumberRecognizer/NumberRecognizer.App/Service References/NumberRecognizerService/NumberRecognizerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://numberrecognizer.cloudapp.net/NumberRecognizerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" />
  <xs:element name="GetNetworks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetworksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" minOccurs="0" name="GetNetworksResult" nillable="true" type="q1:ArrayOfNetworkInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="networkName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" minOccurs="0" name="individualTrainingsData" nillable="true" type="q2:ArrayOfTrainingImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNetworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNetworkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNetworkWithTrainingDataCopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="networkName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" minOccurs="0" name="individualTrainingsData" nillable="true" type="q3:ArrayOfTrainingImage" />
        <xs:element minOccurs="0" name="copyTraindataFromNetworkId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNetworkWithTrainingDataCopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNetworkWithTrainingDataCopyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecognizePhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="networkId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" minOccurs="0" name="imageData" nillable="true" type="q4:ArrayOfRecognitionImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecognizePhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NumberRecognizer.Cloud.Contract.Data" minOccurs="0" name="RecognizePhoneNumberResult" nillable="true" type="q5:NumberRecognitionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>